.navBarContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navBarText {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 14px;
  font-weight: 700;
}
