:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent-color: rgb(97, 0, 93);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  min-height: 100dvh;
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #e0e0e0;
  }

  html {
    color-scheme: dark;
  }
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  width: 100%;
}

.pageTitle1 {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding: 20px;
}
