.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.productCard {
  padding: 1rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}

.productTitle {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0.5rem 0;
  overflow: hidden;
}

.productLink {
  margin-top: auto;
  padding-top: 1rem;
  color: var(--accent-color);
  font-weight: 600;
  text-decoration: none;
  font-family: var(--font-montserrat), sans-serif;
}

.productLink:hover {
  text-decoration: underline;
}

.productImage {
  width: 100%;
  height: auto;
}

.productText {
  font-family: var(--font-montserrat), sans-serif;
}
