.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.productCard {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productImage {
  width: 100%;
  height: auto;
}
